<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <script
    type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
  {{!-- <link rel="stylesheet" href="/stylesheets/style.css" /> --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

  {{!-- <li class="liNav"> --}}
  {{!-- <img class="imgNav" src="/images/logoPerreApp.png" alt="Logo Image"> --}}

  {{!-- </li> --}}
  {{!-- <ul id="placeNav" class="ulNav">
    <li>Hello {{this.username}}, Welcome to Hell</li>
    <li class="liNav"><a href="/user/edit/{{this._id}}"><input type="button" value="Edit Profile"></a></li>
    <li class="liNav"><a href="/auth/logout"><input type="button" value="Logout"></a></li>
  </ul> --}}
  {{!-- <a href="/user/edit/{{this._id}}"><input type="button" class="buttonNav" value="Edit Profile"></a>
  <a href="/auth/logout"><input type="button" class="buttonNav" value="Logout"></a> --}}

  {{{body}}}

  {{!-- <nav>
    <a href="/">Home</a>
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a>

    <a href="/auth/logout">Logout</a>
    <a href="/user/dashboard">Dashboard</a>

  </nav> --}}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="/javascripts/APIHandler.js"></script>
  <script src="/javascripts/script.js"></script>

</body>

</html>