{{!-- {{#with user}} --}}
<h1>Hello {{user.username}}, eres {{user.role}} welcome to hell</h1>

<h2>Edit your f***** profile</h2>

{{#if message}}
{{message}}
{{/if}}

<form action="/user/edit/{{user._id}}" method="POST" enctype="multipart/form-data" id="form-container">


  <label>Your Profile Picture</label>
  <br><br>
  <img src="{{user.photo}}" alt="user picture">
  <br><br>
  <input type="file" name="photo">

  <br><br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" value="{{user.password}}">

  <br><br>

  <label for="firstName">First Name</label>
  <input id="firstName" type="text" name="firstName" value="{{user.firstName}}">

  <br><br>

  <label for="lastName">Last Name</label>
  <input id="lastName" type="text" name="lastName" value="{{user.lastName}}">

  <br><br>

  <label for="birthDate">Date of Birth</label>
  <input id="birthDate" type="date" name="birthDate" value="{{user.birthDate}}">

  <br><br>

  <label for="group">Choose your Class</label>

  <select name="group">
    <option value="">Elige un grupo para mostrar</option>
    <option value="webmad0419">webmad0419</option>
    <option value="webmad0619">webmad0619</option>
    <option value="webmad0819">webmad0819</option>
    <option value="webmad1019">webmad1019</option>
  </select>



  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button type="submit">Submit Changes</button>


  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
</form>