<link rel="stylesheet" href="/stylesheets/style.css" />
{{!-- {{#with user}} --}}

{{!-- <h2>Edit your f***** profile</h2>

{{#if message}}
{{message}}
{{/if}}

<form action="/user/edit/{{user._id}}" method="POST" enctype="multipart/form-data" id="form-container">


  <label>Your Profile Picture</label>
  <br><br>
  <img src="{{user.photo}}" alt="user picture">
  <br><br>
  <input type="file" name="photo">

  <br><br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" value="{{user.password}}">

  <br><br>

  <label for="firstName">First Name</label>
  <input id="firstName" type="text" name="firstName" value="{{user.firstName}}">

  <br><br>

  <label for="lastName">Last Name</label>
  <input id="lastName" type="text" name="lastName" value="{{user.lastName}}">

  <br><br>

  <label for="birthDate">Date of Birth</label>
  <input id="birthDate" type="date" name="birthDate" value="{{user.birthDate}}">

  <br><br>



  <select name="group">
    <option value="">Elige un grupo para mostrar</option>
    <option value="webmad0419">webmad0419</option>
    <option value="webmad0619">webmad0619</option>
    <option value="webmad0819">webmad0819</option>
    <option value="webmad1019">webmad1019</option>
  </select>



  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button type="submit">Submit Changes</button>
  {{#if teacher }}
  <button type="submit">Dashboard</button>
  {{/if}}
  <a href="/user/dashboard">Dashboard</a>


  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
</form> --}}


<div class="main-w3layouts">
  <h1>Edit profile</h1>
  <div class="main-agileinfo" style="text-align: center">    
    <div class="agileits-top">
       {{#if message }}
        <div class="alert alert-warning">{{ message }}</div>
        {{/if}}
      {{!-- <p>Hello {{user.username}}, eres {{user.role}} welcome to hell</p> --}}
      <form action="/user/edit/{{user._id}}" method="POST" enctype="multipart/form-data" id="form-container">
        <div class="profile-pic">
          <img src="{{user.photo}}" alt="user picture" height="auto" width="270px">
        </div> 

        {{!-- <label class="text">Your Profile Picture</label> --}}
        {{!-- <input class="changeHide" type="file" name="photo"> --}}
        <label class="upload-pic" for="file">Sube una foto</label><input class="file-input" type="file" name="photo">        
        <input id="firstName" class="text" type="text" name="firstName" placeholder="First Name" value="{{user.firstName}}" required="">
        <input id="lastName" class="text" type="text" name="lastName" placeholder="Last Name" value="{{user.lastName}}" required="">
        <br>
        <label for="password">Your Password</label>
        <input id="password" class="text email" type="password" name="password" placeholder="Password" value="{{user.password}}" required="">
        {{!-- <label for="birthDate">Date of Birth</label>
        <input id="birthDate" class="text" type="date" name="birthDate" value="{{user.birthDate}}"
          placeholder="Date of Birth" value="{{user.birthDate}}"> --}}
        <div class="select-group">
        <select name="group">
          <option value="">Selecciona tu grupo</option>
          <option value="webmad0419">webmad0419</option>
          <option value="webmad0619">webmad0619</option>
          <option value="webmad0819">webmad0819</option>
          <option value="webmad1019">webmad1019</option>
        </select>
        </div>
        <input type="submit" value="SUBMIT">
      </form>
      <a href="/user/dashboard">Dashboard</a>
    </div>
  </div>

  <ul class="colorlib-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>